body{
    margin: 0%;
  
   width: 100%;
}
.slider
{

    background-size: cover;
    background-position: center;
    
    animation: slidebg 20s infinite;
    animation-timing-function: ease-in-out;
}
@keyframes slidebg {
    0%{
       
        background-image:url("home1.jpg");
       
    }
    50%{
    background-image: url("home2.jpg");
        
       
    }
    100%{
       background-image: url("home.jpg");
        
    }
    
}
.landing{
     
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav a
{
    text-decoration: none;
    text-decoration-color: none;
   
}
header{
    display: flex;
   
}
#header{
    color:aliceblue;
    background-color:rgb(13, 50, 80);
    padding: 10px;
}
.head{
    flex:3;
    font-size: 1.23em;

}
nav a{
     flex: 2;
     font-size: large;
    word-spacing: 10px;
     padding: 10px;
     color: aliceblue;
    
}
.content{
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;  
    height: 90vh;
    color: aliceblue;
}
button{
    background-color: deeppink;
    color: aliceblue;
    padding: 5px;
    font-size: large;
    border: none;
}
  
nav a:hover
{
    background-color: deeppink;

}
.next{
    text-align: center;
    margin-top: 5%;
    font-size: large;
    font-weight:bold;
}
.aduthu{
    display: flex;
}


 .left img{
    flex: 3;
    width: 500px;
     height: 500px;
     margin-left:2%;
}

.right p,ol,.button{
    margin-left: 8%;
   flex: 2;
   font-size: medium;
}
.button{
    width:vh;
    text-align: center;
    background-color: orangered;
    margin: 10px;
    margin-left: 20%;
    padding: 2%;
}
footer
{
    text-align: center;
    padding: 10px;
    background-color: rgb(13, 50, 80);
    color: aliceblue;
    
} 