body{
    margin: 0%;
   height: 90vh;
   width: 100%;
}
nav a
{
    text-decoration: none;
    text-decoration-color: none;
   
}
header{
    display: flex;
   
}
#header{
    color:aliceblue;
    background-color:rgb(13, 50, 80);
    padding: 10px;
}
.head{
    flex:3;
    font-size: 1.23em;

}
nav a{
     flex: 2;
     font-size: large;
    word-spacing: 10px;
     padding: 10px;
     color: aliceblue;
    
}
nav a:hover{
    background-color: deeppink;
}
.heading p{
    text-align: center;
    width:70%;
    margin-left: 10%;

}
.imges{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 5%;
}
.img{
    width: 220px;
    border:1px solid black ;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}
.img img{
    width: 150px;
    margin-bottom: 10px;
    margin-left: 5%;
    height: 100px;
}
.img:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transform: translateY(-8px);
}
footer
{
   
    text-align: center;
    padding: 10px;
    background-color: rgb(13, 50, 80);
    color: aliceblue;
}  