body{
    margin: 0%;
   height: 90vh;
   width: 100%;
}
nav a
{
    text-decoration: none;
    text-decoration-color: none;
   
}
nav a:hover
{
    background-color: deeppink;

}
header{
    display: flex;
   
}
#header{
    color:aliceblue;
    background-color:rgb(13, 50, 80);
    padding: 10px;
}
.head{
    flex:3;
    font-size: 1.23em;

}
nav a{
     flex: 2;
     font-size: large;
    word-spacing: 10px;
     padding: 10px;
     color: aliceblue;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
}
.img,.msg2{
    flex:1;
}
    
footer
{
    text-align: center;
    padding: 10px;
    background-color: rgb(13, 50, 80);
    color: aliceblue;
    margin-bottom: 0;
} 